<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.datasource.mapper.TestMapper">

    <select id="getUrl"
            parameterType="int"
            resultType="com.example.datasource.dto.TestDto">
        SELECT url FROM test WHERE id=#{id}
    </select>
</mapper>

