<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>chunk file upload with tus upload</title>
</head>
<body>

<input id="video-file" type="file" name="file">
<button id="upload-btn">업로드</button>
<button id="pause-btn">일시중지</button>
<div id="result"></div>

</body>

<script src="https://cdn.jsdelivr.net/npm/tus-js-client@latest/dist/tus.min.js"></script>
<script type="text/javascript">
  const uploadBtn = document.querySelector('#upload-btn')

  uploadBtn.addEventListener('click', () => {
    const pauseBtn = document.querySelector("#pause-btn");
    const file = document.querySelector("#video-file").files[0];
    const result = document.querySelector("#result");
    const chunkSize = 1024 * 1024 * 5;

    let response;

    const upload = new tus.Upload(file, {
      endpoint: "/tus/upload",
      chunkSize,
      retryDelays: [0, 1000, 3000, 5000],
      metadata: {
        filename: file.name,
        filetype: file.type
      },

      onError: (error) => {
        console.log("Failed because: " + error);
      },

      onProgress: (bytesUploaded, bytesTotal) => {
        const percentage = ((bytesUploaded / bytesTotal) * 100).toFixed(2)
        result.textContent = percentage + "%"
      },

      onSuccess: () => {
        result.innerHTML = `
          <div>업로드 완료!</div>
          <div>${response}</div>
        `;
      },

      onAfterResponse: (req, res) => {
        response = res.getBody();
      }
    });

    upload.findPreviousUploads().then( (previousUploads) => {
      if(previousUploads.length) {
        upload.resumeFromPreviousUpload(previousUploads[0]);
      }

      upload.start();
    });

    pauseBtn.addEventListener("click", function() {
      upload.abort();
    });
  });

</script>

</html>